/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

/* Fonts */
@font-face {
    font-family: 'james_fajardoregular';
    src: url('../fonts/james_fajardo-webfont.woff2') format('woff2'),
         url('../fonts/james_fajardo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Reset Styles */
* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}
p, ul, ol, address, td, th {
    font-size: 150%;
    font-style: normal;
    margin-bottom: 18px;
}
li {
    margin: 0 0 20px 25px;
}
a {
    text-decoration: none;
}

/* Header */
header {
    background: #9bd2c9 url(../images/header-bg.png) center top no-repeat;
    padding: 20px 0 0 0;
    text-align: center;
}
#logo {
    margin: 0 auto 30px;
}
#tagline {
    color: #e3ffff;
    font-family: 'james_fajardoregular', sans-serif;
    font-size: 400%;
    letter-spacing: 2px;
}

/* Navigation */
nav {
    background: #a588a4;
    text-align: center;
}
nav ul {
    font-size: 150%;
    margin: 0;
    padding: 20px 0;
}
nav ul > li {
    display: inline;
    margin: 0 25px;
}
nav a {
    color: #e3ffff;
    display: inline-block;
}
nav a:hover, a.active {
    border-bottom: 2px solid #e3ffff;
}

/* Common Section Elements */
.full-width {
    padding: 3% 15%;
}
.full-width-heading {
    padding: 1% 15%;
}
.inner-content {
    padding-left: 5%;
}
.blue {
    background: #6898ad;
    color: #fff;
}
.blue a {
    color: #ccc;
}
.blue a:hover {
    border-bottom: 1px solid #ccc;
}
#content a {
    color: #6898ad;
}
#content a:hover {
    border-bottom: 1px solid #6898ad;
}

/* Headings */
h1, .circle {
    background: url(../images/h1-circle.png) no-repeat; 
	font-size: 200%;
    font-weight: 300;
    line-height: 1.8;
    margin: 0 0 30px;
    min-height: 75px;
	padding: 8px 0 0 30px; 
}
.full-width-heading h1 {
    margin: 0;
}
h2 {
    font-size: 180%;
    font-weight: 300;
    margin: 0 0 30px;
}
#content h2 {
    color: #6898ad;
    margin-top: 50px;
}
#content h2:first-child {
    margin-top: 0;
}

/* How Can Hypnotherapy Help Section */
#how-can-hypnotherapy-help {
    overflow: hidden;
}
#how-can-hypnotherapy-help > div {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    float: left;
    margin: 0 0 50px 2%;
    text-align: center;
    width: 23.5%;
}
#how-can-hypnotherapy-help > div:nth-of-type(1),
#how-can-hypnotherapy-help > div:nth-of-type(5) {
    margin-left: 0;
}
#how-can-hypnotherapy-help h2 {
    margin: 10px 0;
}
#how-can-hypnotherapy-help img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

/* Quote Section */
#quote {
    color: #6898ad;
    padding: 3% 25%;
}
#quote blockquote {
    font-family: 'james_fajardoregular', sans-serif;
    font-size: 500%;
    letter-spacing: 2px;
    line-height: .8;
    text-align: center;
}
#quote p {
    float: right;
    font-size: 120%;
}

/* Footer Section */
footer {
    background: #9bd2c9;
    color: #e3ffff;
    overflow: hidden;
    width: 100%;
}
#contact-details {
    float: left;
    width: 30%;
}
#contact-details p {
    line-height: 40px;
}
#contact-details a {
    color: #3a3a3a;
}
#contact-details a:hover {
    border-bottom: 1px solid #3a3a3a;
}
.icon {
    background: #e3ffff;
    border-radius: 50%;
    display: block;
    float: left;
    height: 40px;
    margin-right: 30px;
    text-align: center;
    width: 40px;
}
.icon.location {
    padding-top: 3px;
}
.icon i {
    color: #9bd2c9;
}
#map {
    float: right;
    height: 0;
    overflow: hidden;
    padding-bottom: 20%;
    position: relative;
    width: 60%;
}
#map iframe {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;    
    width: 100%;
}
#copyright {
    clear: both;
    padding-top: 50px;
}

/* Sessions & Fees table */
table {
    width: 60%;
}
th, td {
    padding: 10px 0;
    text-align: left;
    width: 50%;
}
.small {
    font-size: 80%;
}