/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

/* Fonts */
@font-face {
    font-family: 'james_fajardoregular';
    src: url('../fonts/james_fajardo-webfont.woff2') format('woff2'),
         url('../fonts/james_fajardo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Reset Styles */
* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}
p, ul, ol {
    font-size: 150%;
    margin-bottom: 18px;
}
a {
    text-decoration: none;
}

/* Header */
header {
    background: #9bd2c9 url(../images/header-bg.png) center top no-repeat;
    padding: 20px 0 0 0;
    text-align: center;
}
#logo {
    margin: 0 auto 30px;
}
#tagline {
    color: #e3ffff;
    font-family: 'james_fajardoregular', sans-serif;
    font-size: 400%;
    letter-spacing: 2px;
}

/* Navigation */
nav {
    background: #a588a4;
    text-align: center;
}
nav ul {
    font-size: 150%;
    margin: 0;
    padding: 20px 0;
}
nav ul > li {
    display: inline;
    margin: 0 25px;
}
nav a {
    color: #e3ffff;
    display: inline-block;
}
nav a:hover, a.active {
    border-bottom: 2px solid #e3ffff;
}

/* Common Section Elements */
.full-width {
    padding: 3% 15%;
}
.inner-content {
    padding-left: 5%;
}
.blue {
    background: #6898ad;
    color: #fff;
}
.blue a {
    color: #ccc;
}
.blue a:hover {
    border-bottom: 1px solid #ccc;
}

h1, .circle {
    background: url(../images/h1-circle.png) no-repeat; 
	font-size: 200%;
    font-weight: 300;
    line-height: 1.8;
    margin: 0 0 30px;
    min-height: 75px;
	padding: 8px 0 0 30px; 
}

/* Quote Section */
#quote {
    color: #6898ad;
    padding: 3% 25%;
}
#quote blockquote {
    font-family: 'james_fajardoregular', sans-serif;
    font-size: 500%;
    letter-spacing: 2px;
    line-height: .8;
    text-align: center;
}
#quote p {
    float: right;
    font-size: 120%;
}

